footer {
    background-color: #005695;
}



article {
    display: flex;
    font-size: 16px;
    color: white;
    width: 700px;
    line-height: 19px;
}

figure{
display: flex;
justify-content: space-evenly;

    
}